body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

h1 {
  font-weight: 700;
  color: #202020;
  text-align: center;
  font-family: "Plus Jakarta Sanas", sans-serif;
}

input {
  padding: 10px;
  font-size: 16px;
  color: #202020;
  border-radius: 4px;
  outline-color: #202020;
  border: 1px solid #464646;
  font-family: "Plus Jakarta Sanas", sans-serif;
}

button {
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 4px;
  background-color: #202020;
  font-family: "Plus Jakarta Sanas", sans-serif;
}

button:hover {
  background-color: #202020e1;
}

p {
  font-size: 14px;
  font-weight: 500;
  color: #202020;
  text-align: center;
  font-family: "Plus Jakarta Sanas", sans-serif;
}

.container {
  margin: auto;
  height: 80vh;
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.swal2-confirm {
  background-color: #202020;
}

.input-button {
  gap: 16px;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .input-button {
    gap: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
